.card {
    margin: 5px;
}
.card-title {
    text-align: center;
}
.card-text {
    text-align: center;
}
.section-title {
    text-align: center;
    margin-bottom: 1em;
}
.form-group {
    text-align: center;
}
.card-block {
    text-align: center;
}
.card-img-single {
    display: block;
    margin: auto;
}
.center {
    text-align: center;
    margin: 0 auto;
}
.section-title {
    margin-top: 2em;
}
#form-description {
    text-align: center;
    margin-bottom: 3em;
}
#single-item-card {
    margin-left: 25em;
}
#single-item {
    text-align: center;
}
#single-button {
    margin-top: 1em;
}
