.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0,0,0,.5);
  text-align: center;
}
.avery-class{
	display:none;
}
h1 {
	text-align: center;
}

#logoutButton {
	background-color: #222;
	border: none;
	color: #9d9d9d;
}
#logoutButton:hover {
	background-color: #222;
	border: none;
	color: white;
}

#logoutLi {
	padding-top: 5px;
	background-color: #222;
}

#accountButton {
	border-left:1px solid grey;
}