body { 
  font: 125% georgia, sans-serif;
  line-height: 10;
  color: #666; 
  background: #fff url() no-repeat bottom right; 
  margin: 0; 
  padding: 0;
  }
  .featured-image {
  height: 200px;
  width: 200px;
}

.view {
  padding-top: 50px;
}
.button












