body
{
	background-color: #FFF;
}

.background-grey {
	background-color: #FFF;
}


.welcomeLi
{
	list-style: none;
	float: left;
	position: relative;
	text-align: center;
	font-family: 'Muli', sans-serif;
	padding: 20px;

}

#navBar > ul > li.welcomeLi > h3
{
	list-style: none;
	float: right;
	position: relative;
	text-align: center;
	font-family: 'Muli', sans-serif;
	margin-right: 10px;
	
}
#navBar > ul > li:nth-child(2)
{
	list-style: none;
	float: right;
	top: 6px;
	position: relative;
	text-align: center;
	font-family: 'Muli', sans-serif;
	bottom: 15px;
	margin-right: 15px;
	font-size: 18px;
}


#navBar > ul > li:nth-child(3)
{
	list-style: none;
	float: right;
	top: 6px;
	position: relative;
	text-align: center;
	font-family: 'Muli', sans-serif;
	bottom: 15px;
	margin-right: 20px;
	font-size: 18px;
}

#navBar > ul > li:nth-child(4)
{
	list-style: none;
	float: right;
	position: relative;
	text-align: center;
	font-family: 'Muli', sans-serif;
	margin-right: 20px;
	top: 6px;
	font-size: 18px;
}

#navBar > ul > div
{
	margin-top: 0px;
	bottom: 15px;
}
#navBar > ul > li:nth-child(5)
{
	list-style: none;
	float: right;
	position: relative;
	text-align: center;
	font-family: 'Muli', sans-serif;
	margin-right: 20px;
	display: inline-block;
	bottom: 15px;
	font-size: 18px;	
}

h3
{
	margin-top: 0px;
}
.section-title
{
	font-family: 'Muli', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
}


.latestPosts
{	
	width: 935px;
	height: 70px;
	background-color: white;
	margin-left: 19px;
	text-align: center;
	padding-top: 15px;
	padding-right: 30px;
}
#navBar 
{
	height: 100px;
	/*width: 100%;*/
	background-color: #00a4e8;
	padding-top: 5px;
	color: #FFF;
}

#search 
{
	height: 60px;
	/*width: 100%;*/
	margin: auto 0;
	background-color: #00a4e8;
	color: #FFF;
}

#categories
{
	width: 250px;
	height: 1000px;
	box-shadow:2px 2px 10px 5px #888888;
    -webkit-box-shadow:2px 2px 10px 5px #888888;
    -moz-box-shadow:2px 2px 10px 5px #888888;
}

#featuredItemsBox
{
	background-color: #FFF;
}

.contactContainer
{

	height: 100px;
	width: 400px;
	margin-left: 450px;
	top: 100px;
	position: relative;
	
}

#email
{	
	height: 40px;
	width: 40px;
	float: left;
	margin-top: 30px;
	margin-left: 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;	
	background-image: url('../img/email.png');
}

#phone
{	
	height: 40px;
	width: 40px;
	float: left;
	margin-top: 30px;
	margin-left: 56px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;	
	background-image: url('../img/phone.png');
}

#location
{
	height: 52px;
	width: 52px;
	float: right;
	margin-top: 20px;
	margin-right: 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;		
	background-image: url('../img/location.png');
}

.recentlyAdded
{

	width: 80%;
	height: 500px;
	margin-bottom: 100px;
	margin-left: 21px;
	margin-top: 15px;
	border-top: 1px solid black;
	border-top: 2px;
	background-color: #FFF;
}

#postContainer
{
	width: 800px;
	height: 70px;
	margin-top: 10px;
	margin-left: 50px;
	background-color: #E5E4E1;
	border: 1px solid black;
}

.postThumbnail
{
	height: 60px;
	width: 60px;
	float: left;
	margin-top: 4px;
	margin-left: 15px;
	border: 1px solid black;
}
/****TAKE OUT WIDTH ONCE TABLE INSERT IS GENERATED***/
.postTitle
{
	height: 30px;
	width: 300px;
	margin-top: 4px;
	margin-left: 15px;
	float: left;
	border: 1px solid black;
}

.postDescription
{
	height: 30px;
	width: 300px;
	margin-top: 4px;
	margin-left: 15px;
	float: left;
	border: 1px solid black;
}

.postCondition
{
	height: 30px;
	width: 300px;
	margin-top: 4px;
	margin-left: 15px;
	float: left;
	border: 1px solid black;
}

.postDate
{
	height: 30px;
	width: 40px;
	margin-top: 4px;
	margin-left: 15px;
	float: left;
	clear: right;
	border: 1px solid black;
}

.usersRating
{
	height: 30px;
	width: 300px;
	margin-top: 4px;
	margin-left: 15px;
	float: left;
	clear: right;
	border: 1px solid black;
}


.adsContainer
{
	width: 300px;
	height: 572px;
	float: right;
	margin-right: 0px;
	background-color: #FFF;
	position: relative;
	bottom: 600px;
}


#ads
{
	width: 232px;
	height: 250px;
	border: 1px solid black;
	margin-top: 24px;
	margin-left: 33px;
	background-color: #FFF;
}

.recentlyAddedCategories
{
	width: 900px;
	height: 430px;
	margin-left: 20px;
	margin-top: 30px;
	float: left;
	background-color: #FFF;
	box-shadow:2px 2px 10px 5px #F8F8F8;
    -webkit-box-shadow:2px 2px 10px 5px #F8F8F8;
    -moz-box-shadow:2px 2px 10px 5px #F8F8F8;
}

.featuredItemsInnerContainer
{
	height: 280px;
	margin-top: 50px;
	margin-left: 147px;
	position: relative;
}

.featuredItems
{

	height: 225px;
	width: 225px;
	float: left;
	margin-top: 4px;
	border-right: 1.5px solid grey;
	border-left: 1.5px solid grey;
}

/*Drop Down In Nav Bar */

.dropbtn {
    background-color: #00a4e8;
    color: white;
    padding: 8px;
    font-size: 13px;
    border-radius: 3px;
    border: none;
    margin-left: 850px;
    cursor: pointer;
    outline: none;

}

.dropbtn:hover, .dropbtn:focus {
    background-color: #00a4e8;
}
#myInput {
    /*border-box: box-sizing;*/
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    color: black;
}

.dropdown {
    /*position: relative;*/
    float: right;
	padding-top: 22px;
	padding-right: 8px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    margin-left: 765px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show 
{
	display:block;
}

.emptyClass
{
	height: 500px;
	border-top: 2px;
	border-bottom: 2px;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;;
	background-color: #E5E4E1;
}

.emptyLayout
{
 height: 250px;
 width: 250px;
 float: left;
 border: 1px solid #FFF;
 margin-left: 80px;
 margin-top: 120px
 /*font-family: 'Muli', sans-serif;*/
}

.emptyLayoutLarge
{
 height: 450px;
 width: 450px;
 margin-top: 25px;
 margin-left: 760px;
 position: absolute;
 border: 1px solid #FFF;
}

.footer
{
	height: 300px;
	background-color: #00a4e8;

}

/*carousel*/



/*=========================================*/


.create-ad {
	background-color: white;
	margin: 0 auto;
	width: 600px;
}
.create-ad-input-container {
	text-align: center;
	margin-top: 4px;
	width: 600px;
	padding-top: 40px;
	padding-right: 150px;
	padding-bottom: 50px;
	padding-left: 150px;
	background-color: #f1f1f1;
}
.create-ad-input-header {
	text-align: center;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 600px;
	background-color: #f1f1f1;
}
input.create-ad-input {
	width: 300px;
	margin-bottom: 14px;
	border: 0px solid;
	padding: 7px;
}
select.create-ad-select {
	width: 300px;
	margin-bottom: 14px;
	border: 0px solid;
	padding: 7px;
}
button.submit-ad {
	float: right;
	margin-bottom: 10px;
}

.previous2
{
	float: left;
	position: absolute;
}