/*/////////////////////////////////
      Navigation Bar
/////////////////////////////////*/

/* 1. General Links */
    img {
      width: 100%;
      display: block; /* To remove background color under images */
    }

    li {
      list-style-type: none;
    }

    a,
    a:link,
    a:visited,a.pg-state-visited {
      color: white;
      display: block;
      font-size: 1.25em;
      font-weight: 500;
      padding: 1em;
      text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active,a.pg-state-focus,a.pg-state-focus,a.pg-state-hover,a.pg-state-focus,a.pg-state-active {
      background: #ffd800;
    }

    /* Removes border around images in menu for IE10 */
    a img {
      border: 0;
    }

    /* 2. Desktop Nav Menu */
    .desktop-menu {
      background: #3E6617;
      margin: 0;
      padding: .50em 0;
      position: absolute; /* Prevents parent ul from collapsing because of floated children li's. Alternative to overflow: auto/none; */
      top: 0;
      width: 100%;
      z-index: 1; /* Allows desktop menu to show over slider */
      font-family: 'Josefin Sans', sans-serif;
    }

    .desktop-link {
      float: left;
      margin-top: 1.75em;
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
    }

      /* 2.1 Desktop Home Link */
      #home {
        border: 1px solid white;
        float: left;
        font-size: 1em;
        margin: .5em 1em .5em 1em;
        padding: .75em;
      }

      #home,
      #home:link,
      #home:visited,
      #home:hover,
      #home:focus,
      #home:active,#home.pg-state-visited,#home.pg-state-visited,#home.pg-state-focus,#home.pg-state-visited,#home.pg-state-hover,#home.pg-state-focus,#home.pg-state-active {
        color: white;
        background: none;
      }

      .yonsei-logo {
        margin: -.5em auto .5em auto;
        width: 4em;
      }

      /* 2.2 Desktop Dropdown-menu */
      a.caret,
      #mobile-menu,
      .dropdown-menu {
        display: none; /* Removes mobile menu, caret links, and dropdown menu (when menu items are not hovered) on large screens */
      }

      .desktop-link:hover .dropdown-menu,.desktop-link.pg-state-hover .dropdown-menu {
        display: block; /* Shows dropdown menu when menu items are hovered */
      }

      .dropdown-menu {
        background: white;
        box-shadow: 2px 2px 10px white;
        font-size: .7em;
        padding: 0;
        position: absolute;
        text-align: left;
        width: 20em;
        font-family: 'Josefin Sans', sans-serif;
      }

      .dropdown-menu a,
      .dropdown-menu a:link,
      .dropdown-menu a:visited,.dropdown-menu a.pg-state-visited {
        border-top: 1px solid #ffd800;
        color: #ffd800;
        font-size: 1.5em;
        font-weight: 600;
      }

      .dropdown-menu a:hover,
      .dropdown-menu a:focus,
      .dropdown-menu a:active,.dropdown-menu a.pg-state-focus,.dropdown-menu a.pg-state-focus,.dropdown-menu a.pg-state-hover,.dropdown-menu a.pg-state-focus,.dropdown-menu a.pg-state-active {
        color: white;
      }


/*/////////////////////////////////
        Login Form
/////////////////////////////////*/




.container {
	background-color: #F8FEE9;
}

#login {

}

.section-title {
	font-family: 'Amatic SC', cursive;
	color: #293127;
	font-size: 120px;
	text-align: center;
}

#veggieLogo {
	width: 20px;
	height: 20px;
}

#login {
	font-family: 'Josefin Sans', sans-serif;
	color: #293127;
	font-size: 20px;
	text-align: center;

}

.form-control {
	width: 100%;
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

 .button {
          background-color: #3E6617;
          border: none;
          color: white;
          padding: 10px 27px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          margin: 4px 2px;
          cursor: pointer;
          font-family: 'Josefin Sans', sans-serif;
        }


.button:hover {
	background-color: #ffd800;
}

.button:active {
  background-color: #ffd800;
}

.btn-success {
	
	padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;

}

.signup {
	background-color: pink !important;

}